.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    background-color: teal;
}
.align {
    text-align: center;
}
.php {
    color: #008CBA;
    background-color: lightgrey;
    font-size: 50px;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    box-shadow: 5px 5px 5px black;
}